
img {
  width: 250px;
}
table {
  position: absolute ;
  margin-left:20%;
  margin-right: auto;

}
td {
  padding: 5px;
  border: tomato solid groove;
}
h1 {
  text-align: center;
  margin: 3em auto 2em;
}
h2 {
  text-align: center;
  margin: 2em auto 2em;
}
p {
  text-align: center;
  margin: 3em 15em;
}
body {
  background-image:url("/images/paisley.jpg");

}
.main {
  max-width: 2803px; 
}
form{
  align-items: center;
}