h1, p, h2 {text-align: center;margin-left: 15% ; margin-right: 15%;}
li {margin-left: 25%; margin-right: auto;}
body {background-color: rgb(205, 253, 237); background-image: url(/images/istockphoto-1195042000-612x612.jpg) repeat sroll;}